<div id="<%= @id %>">
  <%= if @state == "closed" do %>
    <div class="w-24 h-24 rounded-xl bg-gray-500 cursor-pointer"
      phx-click="select-tile"
      phx-target="#<%= @id %>"></div>
  <% else %>
    <div class="w-24 h-24 rounded-xl bg-blue-300 text-3xl text-white text-serif text-center pt-8">
      <%= @value %>
    </div>
  <% end %>
</div>
